body{
	background:url(../images/background.jpg) repeat;
	margin:0px;
	padding:0px
}
.wrapper{
	background:url(../images/wrapper.jpg) repeat-y;
	margin:0px auto;
	width:900px;
	padding-right:15px;
	padding-left:15px;
	position:relative
}
.masthead{
	height:126px;
	position:relative;
	width:800px;
	background:url(../images/masthead.png) no-repeat;
	padding-right:10px;
	padding-left:90px;
	padding-top:12px
}
.masthead h1{
	font:normal 24px/27px sans-serif;
	color:#1a2853;
	margin:0px 0px 4px;
	padding:0px
}
.masthead h1 a{
	color:#1a2853;
	text-decoration:none
}
.masthead h1 span{
	text-transform:uppercase
}
.masthead h2{
	font:normal 12px/19px sans-serif;
	color:#7e8285;
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	letter-spacing:5px
}
.masthead img#logo{
	display:block;
	position:absolute;
	left:10px;
	top:15px
}
.content{
	padding-right:10px;
	padding-left:10px;
	overflow:hidden
}
.mobile,.content .content_main .mobile{
	display:none
}
.content .content_main h1{
	font:bold normal 18px/26px Verdana,sans-serif;
	color:#1a2853;
	margin:0px 0px 9px;
	padding:0px
}
.content .content_main p{
	font:12px/20px Verdana,Arial,Helvetica,sans-serif;
	color:#1a2853;
	margin:0px 0px 12px 0px;
	padding:0px
}
.content .content_main ul{
	font:12px/20px Verdana,Arial,Helvetica,sans-serif;
	color:#1a2853;
	margin:0px 0px 12px;
	padding:0px 0px 0px 20px
}
.content .content_main h4{
	font:bold 13px/18px Verdana,Arial,Helvetica,sans-serif;
	color:#1a2853;
	margin:0px 0px 4px;
	padding:0px
}
.hinger {
    position: absolute;
    top: 14px;
    left: 795px;
}
.content{
	padding-bottom: 10px;
	position:relative;
	overflow:visible;
	background-color:#fff
}
.content .content_main h1{
	font-size:20px;
	padding-top:6px
}
.content .content_main .highlight{
	background-color:#DFE6EC;
	padding:10px 30px;
	margin:0 0 24px
}
.content .content_main .margin{
	margin:0 30px
}
.content .content_main .main ul{
	font-size:13px;
	line-height:24px
}
.form{
	float:right;
	width:300px!important;
	height:auto;
	margin:20px 30px 30px 30px;
	-webkit-box-shadow:0px 4px 20px 5px #C1BBBB;
	box-shadow:0px 4px 20px 5px #C1BBBB;
	border:5px solid #DFE6EC;
	background-color:#fff
}
.form img{
	margin:-5px 0 0 -5px
}
.form .call{
	background-color:#CD1920;
	margin:0 -5px;
	color:#fff;
	padding:10px 0;
	border-top:1px solid #fff
}
.form .call p,.form .call h4{
	color:#fff;
	text-align:center;
	font-weight:bold
}
.form .call p{
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:6px
}
.form .call h4{
	font-size:24px;
	line-height:30px
}
.form .brochure iframe{
	padding-left:8px
}
.form .brochure p span{
	display:block;
	padding-left:8px;
	margin-top:6px
}
.main .quotes.highlight{
	overflow:hidden;
	padding:20px 30px;
	margin:20px 0 0
}
.main .quotes p{
	float:left;
	width:48%;
	font-size:12px;
	line-height:24px
}
.main .quotes p+p{
	margin-left:4%
}
p.sitemap{
	font:11px/18px Verdana,Arial,Helvetica,sans-serif;
	text-align:center;
	margin:0px;
	padding:6px 0px 20px
}
p.sitemap a{
	color:#DEE5EB;
	text-decoration:none
}
p.copyright{
	font:11px/18px Verdana,Arial,Helvetica,sans-serif;
	text-align:center;
	text-transform:uppercase;
	margin:0px;
	padding:0px
}
p.copyright a{
	color:#DEE5EB;
	text-decoration:none
}